body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    min-width: 700px;
    width: 100%;
    margin: auto;
    border: 1px solid black;
  }
  .container > form {
      display: flex;
      margin: 10px;
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    height: 80vh;
    border-radius: 5px;
    background: #fff;
    border: 1px solid black;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  button {
    background: #0563b4 !important;
  }
  p {
    color: red;
  }
  #occupation, #education{
      width: 150px;
  }

  .form-left-container{
    width: 37%;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
  }

  .form-right-container{
    margin-left: 30px;
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
  }