.container {
  height: 100vh;
  min-width: 700px;
  width: 100%;
  margin: auto;
  border: 1px solid black;
}
  
  
  .container > form {
      display: flex;
      margin: auto;
    width: 80%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    height: 96vh;
    border-radius: 5px;
    background: #fff;
    border: 1px solid black;
  }
  .knowYourPlan{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 8px;
       border-radius: 4px;
     text-align: left;
    color: #ffffff;
    background: #0065ff;
    cursor: pointer;
    height: 36px;
  }
  .form-heading{
    width: 80%;
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button {
    background: #0563b4;
  }
  
  #occupation, #education{
      width: 250px;
  }
 
  .form-left-container{
    width: 35%;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
  }

  .form-right-container{
    margin-left: 10px;
    padding: 5px;
    width: 64%;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
  }
  .hr-line{
    width: 150px;
    height: 1px;
    background-color: black;
  }
  .horizontal-line{
    width: 100%;
    height: 0.1px;
    margin-top: 8px;
    background-color: lightgray;

  }
   .total-button-container{
     width: 710px;
     height: 80px;
    bottom: 0;
     position:fixed;
     z-index: 3;
     border: 1px solid lightgray;
     padding: 10px;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   .button-container>Button{
    width: 200px;
    height: 50px;
    z-index: 3;
     padding: 5px;
     background-color:red !important;
     color: white;
   }
   

.total-button-container ::-webkit-scrollbar {
  position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 97%;
    margin: auto;
    z-index: 9;
    background: #fff;
    
    
  
   
}
