.main{
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    background-color:white; 
    width: 100%;
    height: 45px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
    display:flex;
    box-sizing: border-box;
    z-index: 999;
    top: 0;
}
.first img {
    height: 25px;
    margin-top:9px;
}
.first{
    margin-left: 10%;
}
.hand{
    margin-left:50%;
    height:25px;
    margin-top:7px;
    /* color: #0065ff; */
}
.claim{
     margin-left:5px;
     margin-top:15px;
     color: #0065ff;
     font-size: 14px;
}
.call{
    margin-top:10px;
    margin-left:4%;
}
.left{
    position: relative;
    width: 43%;
    float: left;
    border-radius: 20px 0 0 20px;
    padding: 0;
}

.form{
    /* border:1px solid red; */
    margin-top:58px;
    margin-left:10%;
    width:81%;
    display: flex;
    background-color:white;
    height:600px;
    box-shadow: 0 1px 30px rgb(0 0 0 / 30%);
    border-radius: 20px;
}
.img-b{
    position: relative;
    height: 560px;
    background: #e1edf4;
    border-radius: 0 33% 100% 0/51% 43% 59% 26%;
    width: 91%;
    border-top-left-radius: 22px;
}
.img-b img{
    margin-left: 7%;
    margin-top: 12%;
    height:93%; 
}
.right{
    position: relative;
    width: 57%;
    float: right;
}
.headings{
    width: 100%;
    float: left;
    margin-bottom: -4px;
    text-align: center;
    font-size: 20px;        
    color: #0b6bff;
    /* font-weight:; */
}
.blk{
    color:black;
    font-size: 24px;
}
.span1{
    font-size:34px;
}
.span2{
    font-size:30px; 
}
.span3{
    font-size: 16px;
    position: relative;
    left: 2px;
    bottom: 10px;
}
.head2{
    text-align: center;
    margin-top:-3px;
    font-weight: 500;
    font-size:13px;
}